body {
	background-color: black;
	color: lime;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	color: lime;
	text-decoration: none;
	padding: 0 10px;
}
img {
	max-width: 100%;
	height: auto;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
li {
	margin: 0 10px;
}
.active {
	text-decoration: underline;
}

body {
	background-color: black;
	color: lime;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	color: lime;
	text-decoration: none;
	padding: 0 10px;
}
img {
	max-width: 100%;
	height: auto;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
li {
	margin: 0 10px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input,
textarea {
	min-width: 20vw;
	margin: 10px 0;
	padding: 10px;
	background: none;
	border: 1px solid lime;
	color: lime;
}
input[type="submit"] {
	cursor: pointer;
}
.guestbook-entries {
	margin-top: 20px;
}
.guestbook-entry {
	border-top: 1px solid lime;
	padding: 10px 0;
}
.active {
	text-decoration: underline;
}

body {
	background-color: black;
	color: lime;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	color: lime;
	text-decoration: none;
	padding: 0 10px;
}
img {
	max-width: 20%;
	height: auto;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
li {
	margin: 0 10px;
}
.active {
	text-decoration: underline;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination button {
    background-color: #333;
    color: #0f0;  /* Hacker green */
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#pagination button:hover {
    background-color: #555;
}
